body, h1, ul, li {
	margin:0;
	padding:0;
}

.sayfa{
	width:100%;
	font-family:Calibri;
}

.ust{
	height:7em;
	width:100%;
	background:#2196F3;
	border-style:double;
}
.ust h1 {
	float:left;
	color:white;
	margin:1em auto;
	margin-left:10%;
	font-family:Calibri;
}

.ust h2 {
	float:left;
	color:white;
	margin:1.5em auto;
	margin-left:26%;
}

#logo{
	float:left;
	margin-left:10%;
}

#arama{
	float:right;
	margin-right:10%;
	margin-top:2.5em;
	
}

.menu{
	margin-right:0%;
	margin-left:0%;
	background:#2196F3;
	margin-top:5px;
	height:50px;
	border-style:double;
}

.menu li{
	float:left;
	list-style:none;
	margin-top:15px;
	font-weight:bold;
}

.menu li a{
	color:white;
	text-decoration:underline;
	margin:10px;
	padding:9px 9px;
}

.menu a:hover{
	background:#2196F3;
	border-radius:25px;
}

.orta{
	margin-right:0%;
	margin-left:0%;
	margin-top:5px;
	background:#64B5F6;
}

.orta-sag{
	float:right;
	width:100%;
	background:#64B5F6;
	height:400px;
	margin-left:1%;
	
}

.orta-sol img{
	margin-right:10%;
	margin-left:30%;
	margin-top:5px;
	background:#64B5F6;
}

.orta-sag p {
	margin-left:0px;
}

.alt {
	margin-right:0%;
	margin-left:0%;
	background:#2196F3;
	height:190px;
	margin-top:5px;
	color:white;
	margin-bottom:7px;
	border-style:double;
}

.sosyalmedya {
  text-align: center;
  } 
  
.sosyalmedya li {
  display:inline-block;
  list-style-type:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  }
  
.sosyalmedya li a {
  border-bottom: none;
  }
  
.sosyalmedya li img {
  width:50px;
  height:50px;
  margin-right:20px;
  margin-top:20px;
}

.temizle{
	clear:both;
}