
{% load static %}

<html>

    <head>
	<title>Kişisel WEB Sayfam</title>
	<link href="{%  static './css/style.css' %}" rel="StyleSheet">




    </head>


    <body>
	
	<div class="sayfa">
	
	    <div class="ust">
		<div id="logo">
		<image width="110px" height="110px" src="{% static './img/logo.png' %}"></image>
		</div>
		<h2>WEB Sayfası</h2>
		<div id="arama">
		<form action="#">
		<input type="search" name="ara"></input><input type="submit" value="Ara"></input>
		</form>
		</div>
		<div class="temizle"></div>
		</div>
		<div class="menu">
		    <ul>
			    <li><a href="index.html">Anasayfa</a></li>
			    <li><a href="./html/girisyap.html">Giriş Yap</a></li>
			    <li><a href="./html/kayıtol.html">Kayıt Ol</a></li>
			    <li><a href="./html/belgeler.html">Belgeler-Dökümanlar</a></li>
			    <li><a href="./html/calısmalarımız.html">Çalışmalarım</a></li>
			    <li><a href="./html/hakkimizda.html">Hakkımda</a></li>
			    <li><a href="./html/basindabiz.html">Basında Ben</a></li>
			    <li><a href="./html/iletisimegec.html">İletişime Geçin</a></li>
			    <li><a href="./html/sosyal.html">Sosyal Medya Haberleri</a></li>
			    <li><a href="./html/covid19.html">COVID-19</a></li>
				</ul>
				<div class="temizle"></div>
				</div>
				<div class="orta">
				     <div class="orta-sag">
					 <div align="center">
					 <br>
					{% block content %}
					{% endblock%}
					
					 </div>
					 </div>
					 <div class="temizle"></div>
				</div>
	            <div class="alt">
				     <ul class="sosyalmedya">
                     <li><a href="https://tr-tr.facebook.com/ibrahimbedir.buyukdemir"><img src="{% static 'img/Facebook.svg' %}" /></a></li>
                     <li><a href="https://www.instagram.com/ibrahim.buyukdemir/"><img src="{% static 'img/Instagram.svg' %}" /></a></li>
                     <li><a href="https://web.whatsapp.com/"><img src="{% static 'img/Whatsapp.svg' %}" /></a></li>
                     </ul>
				     <br>
					 <br>
				     <p align="center">Bu Tasarım İbrahim Büyükdemir'e Aittir
				     <p align="center">- Copyright © 2020 - Tüm Hakları Saklıdır -
					 <br>
				</div>
	
	
	
	
	</div>
	
    </body>
</html>